/* You can add global styles to this file, and also import other style files */
.img-main-carousel {
    width: 922.5px;
    height: 500px;
    margin : 0 auto;
}

.main-carousel {
    width: 50%;
    margin: auto;
}