
<!--NGX Bootstrap-->
<div class="main-carousel">
<carousel class="text-center">
  <slide>
    <img class="img-main-carousel" src="assets/images/image1.jpg" alt="">
    <div class="carousel-caption">
      <h3>C'est Beau !!</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img class="img-main-carousel" src="assets/images/image2.jpg" alt="">
    <div class="carousel-caption">
      <h3>Peux mieux faire !!!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img class="img-main-carousel" src="assets/images/image3.jpg" alt="">
    <div class="carousel-caption">
      <h3>C'est moche !!!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img class="img-main-carousel" src="assets/images/image4444.jpg" alt="">
    <div class="carousel-caption">
      <h3>C'est moche !!!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
</carousel>
</div>

<!--NG Bootstrap-->
<div class="main-carousel">
<ngb-carousel>
  <ng-template ngbSlide>
    <img class="img-main-carousel" src="https://lorempixel.com/900/500?r=1" alt="Random first slide">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="img-main-carousel" src="https://lorempixel.com/900/500?r=2" alt="Random second slide">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="img-main-carousel" src="https://lorempixel.com/900/500?r=3" alt="Random third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>



